[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "sexy-bash-prompt"]
	path = sexy-bash-prompt
	url = https://github.com/twolfson/sexy-bash-prompt
[submodule "mingit"]
	path = mingit
	url = git@github.com:evansendra/mingit.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule "runcom/spaceship-prompt"]
	path = runcom/spaceship-prompt
	url = https://github.com/denysdovhan/spaceship-prompt.git
